<div  >
    
     <h1>List Of Students</h1>
     <div  class="list-group" data-ng-repeat="site in sites track by $index">
  		<a class="list-group-item" href="" data-ng-click="linkToSite(site)">
		  {{site.name}}
		</a>
     </div>

  <hr />
  <h3>Details Of The Student</h3>
  <label for="site_code">Age</label>

  <p>
    <input type="text" name="site_code" data-ng-model="selectedSite.Age">
  </p>
  <label for="site_code">Qualification</label>
   <p>
    <input type="text" name="site_code" data-ng-model="selectedSite.Qualification">
  </p>
  <label for="site_code">College</label>
   <p>
    <input type="text" name="site_code" data-ng-model="selectedSite.College">
  </p>

  <input type="submit" ng-click="save()" value="Save and reset" />

 
</div>
